*{
    font-family: "Manrope", sans-serif;
}
.btn{
    border: none;
    color: white;
    display: inline-flex;
    padding: 15px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 150px;
    font-size: 20px;
    font-weight: 700px;
    margin-left: -253px;
}
.navbar-brand{
    color: #131318;
    font-family: Manrope;
    font-size: 36px;
    font-weight: 800;
   
}
.nav-item{
    display: inline-flex;
    padding: 60px 0px;
    justify-content: center;
    align-items: center;
    gap: 60px;
   
}
.nav-link{
    color: var(--Dark-02, #424247);
    text-align: center;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    
}
.navbar{
    width: 1170px;
    
}
/*carousel*/
.carousel-item{
    width: 1170px;
    height: 550px;
    border-radius: 16px;
}
.caro1{
    display: inline-flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 16px;
    background: #131318;
   
}

/*card*/
  .card1{
    background-image: url(images/2.png);
    width: 573px;
    height: 338px;
    border-radius: 16px;
   
    
  }
  .card3{
    background-image: url(images/4.png);
    width: 1170px;
    height: 450px;
    margin-top: 20px;
    
    border-radius: 16px;

  }
  .card2{
    background-image: url(images/3.png);
    width: 573px;
    height: 338px;
    border-radius: 16px;
   
    
    
    
  }
  .text1{
    color: #FFF;
    font-family: Manrope;
    font-size: 28px;
    
    font-weight: 800;
     
  }
  .text2{
    color: #FFF;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
     line-height: 26px;
     width: 495px;
  }
  .button1{
    display: inline-flex;
    padding: 10px 22px;
    justify-content: center;
     align-items: center;
     gap: 10px;
     color: #FFF;
    text-align: center;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 70;
    border-radius: 8px;
    border: 1px solid #FF4240;
    background: #FF4240;
  }
  .row{
    gap: 20px;
  }
  .button3{
    display: inline-flex;
    padding: 10px 22px;
    justify-content: center;
     align-items: center;
     gap: 10px;
     color: #FFF;
    text-align: center;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 70;
    border-radius: 8px;
    border: 1px solid #FF4240;
    background: #FF4240;
  }
  /*section3*/
  .image-1{
    width: 180px;
    height: 172px;
    border-radius: 12px;
  }
  .card-item{
    width: 573px;
   height: 218px;
   display: flex;
  }
  .haddig-1{
    color: #131318;
    font-family: Manrope;
    font-size: 20px;
    
    font-weight: 800;
    
  }
  .padding-1{
    color: rgba(19, 19, 24, 0.60);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; 
     width: 306px;;
  }
  .haddig-2{
    color: #FF4240;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 26px; 
  }
  .padding-2{
    color: rgba(19, 19, 24, 0.50);
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;

  }
  /*section6*/
  .card10{
    width: 374px;
    height: 216px;
    border-radius: 16px;
    background: rgba(188, 237, 109, 0.10);
    padding: 40px;
    
  }
  .card11{
    width: 374px;
    height: 216px;
    border-radius: 16px;
    background: rgba(253, 221, 95, 0.10);
    margin-top: 15px;
    padding: 40px;
  }
  .card12{
    width: 374px;
    height: 216px;
    border-radius: 16px;
    background: rgba(98, 156, 243, 0.10);
    padding: 40px;
    margin-top: 15px;
  }
  